@page "/"

<PageTitle>Startseite</PageTitle>

<h1>Willkommen auf meiner Portfolio-Seite!</h1>

<p>Schön, dass du hier bist! Auf dieser Seite findest du Informationen über mich, meine Projekte und meine Leidenschaft für Softwareentwicklung.</p>

<h2>Was erwartet dich hier?</h2>
<u1>
    <li> <strong>Über mich</strong> Erfahre mehr über meinen Werdegang und meine Skills</li>
    <li> <strong>Projekte</strong> Hier findest du eine Übersicht über meine Projekte</li>
    <li> <strong>Blog</strong> Ich schreibe regelmäßig über Themen, die mich interessieren</li>
    <li> <strong>Kontakt</strong> Du möchtest mit mir in Kontakt treten? Hier findest du alle Informationen</li>
</u1>

<p>
    Schau dich gerne um und entdecke, woran Ich arbeite. Wenn du Fragen hast oder einfach nur Hallo sagen möchtest, freue ich mich über eine Nachricht von dir!
</p>

<a href="/about"a class="btn">Mehr über mich erfahren</a>

